<template>
  <div class="mainWrapper">
    <div class="titleSearch_container">
      <h1>Bands<span>.</span></h1>

      <span class="input_container">
        <img src="@/assets/img/search.svg" alt="" />
        <input
          type="text"
          v-model="search"
          class="form-control"
          placeholder="Search for a band or artist"
        />
      </span>
    </div>

    <section class="bands_wrapper">
      <BandCard
        v-for="artist in filteredList"
        :key="artist.items[0].artists[0].id"
        :artist="artist"
      />
    </section>
  </div>
</template>

<script>
import BandCard from "../band-card/BandCard.vue";
export default {
  name: "BandsContainer",
  props: {},
  components: { BandCard },
  data() {
    return {
      search: "",
    };
  },
  computed: {
    artistsView: function () {
      return this.$store.state.artists;
    },
    filteredList() {
      return this.artistsView.filter((artist) => {
        return artist.items[0].artists[0].name
          .toLowerCase()
          .includes(this.search.toLowerCase());
      });
    },
  },
  mounted() {
    this.$store.dispatch("getArtists");
  },
};
</script>

<style lang="scss" src='./bands-container.scss'>
.delay {
  animation-delay: 0.5s;
}
</style>