@import "/src/scss/globals.scss";

.titleSearch_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78%;
  h1 {
    color: $white;
    font-size: 54px;
    margin-bottom: 8px;
    span {
      color: $green;
    }
  }
  .input_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $white;
      width: 18em;
      margin: 0 0 2px 8px;
      color: $white;
      font-family: $text-font;
      font-weight: 600;
      font-size: 22px;
      padding-bottom: 2px;
      transition: 0.2s;
      &::placeholder {
        color: rgb(53, 53, 53);
        font-family: $text-font;
        font-weight: 600;
        font-size: 22px;
      }
      &:focus {
        outline: none;
        border-bottom: 2px solid $green;
      }
    }
  }
}

.bands_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 78%;
  margin-bottom: 2em;
}
