<template>
  <div class="mainWrapper">
    <h1 :style="{color: '#f9f9f9', fontSize:'54px'}">Playslists<span :style="{color: '#038C65'}">.</span></h1>
    <div :style="{display: 'flex', alignItems: 'flex-start', marginTop:'6em'}">
      <Icon icon="whh:construction" color="#f8f8f8" height="32" />
      <h2 :style="{marginLeft:'8px', fontSize: '24px', fontWeight: '400', color:'#f9f9f9'}">We are working on this section.</h2>
    </div>
  </div>
</template>

<script>
import { Icon } from "@iconify/vue2";
export default {
  name: "PlaylistsContainer",
  components: { Icon },
};
</script>

<style>
</style>