@import "/src/scss/globals.scss";

.fav_card {
  display: flex;
  justify-content: space-between;
  width: 37em;
  background-color: transparent;
  border-radius: 15px;
  padding: 16px;
  transition: 0.2s;
  &:hover {
    background-color: $black;
  }
  .imgTitle_container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 145px;
      border-radius: 100%;
    }
    .artistTitle_container {
      color: $white;
      margin-left: 16px;
      width: 17em;
      h2 {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 16px;
      }
      p {
        font-size: 22px;
        font-weight: 300;
      }
    }
  }

  .buttons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .fav_button {
      color: $white;
      border: 1px solid $green;
      padding: 8px;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      font-size: 16px;
      transition: 0.2s;

      &:hover {
        background-color: $green;
      }
      img {
        width: 22px;
        vertical-align: middle;
        margin-left: 4px;
      }
    }
  }
}
