<template>
  <div>
    <div class="imgTitle_container">
      <img :src="`${fav.artist.items[0].images[1].url}`" alt="" />
      <div class="artistTitle_container">
        <h2>{{ fav.artist.items[0].artists[0].name }}</h2>
        <p>{{ fav.artist.items[0].artists[0].type }}</p>
      </div>
    </div>

    <div class="buttons_container">
      <a href="" class="fav_button"
        >Listen on <img src="@/assets/img/spotify.svg" alt=""
      /></a>
      <router-link
        class="fav_button"
        :to="{
          name: 'BandDetail',
          params: { id: fav.artist.items[0].artists[0].id },
        }"
        >Profile <img src="@/assets/img/verified.svg" alt=""
      /></router-link>
      <button class="fav_button" @click.prevent="removeArtist(fav.artist)">
        Remove <img src="@/assets/img/remove.svg" alt="" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "FavCard",
  props: ["fav"],
  computed: {
    favourites() {
      return this.$store.state.favourites;
    },
  },
  methods: {
    removeArtist(artist) {
      this.$store.dispatch("removeArtistFromFavs", artist);
    },
  },
};
</script>

<style lang='scss' src='./fav-card.scss' />
