@import "/src/scss/globals.scss";

.band_card {
  background-color: $black;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 10px;
  width: 17em;
  height: 22em;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
  &:hover {
    border: 1px solid $green;
    .bandInfo_container {
      opacity: 1;
    }
  }
  .bandInfo_container {
    transition: 0.2s;
    opacity: 0;
    background: linear-gradient(
      180deg,
      rgba(53, 54, 58, 0) 0%,
      rgba(53, 54, 58, 0.63) 52.6%,
      #1d1e1f 100%
    );
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    border-radius: 0 0 8px 8px;

    .text_container {
      padding-bottom: 1.5em;
      h2 {
        font-size: 32px;
        line-height: 1.2;
      }
      figure {
        height: 2px;
        width: 25%;
        margin: 4px 0;
        background-color: $white;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
      }
    }
    .play_btn {
      background: $green;
      padding: 8px;
      border-radius: 100%;
      position: absolute;
      display: flex;
      align-self: flex-end;
      transition: 0.1s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
