<template>
  <div
    class="band_card"
    v-bind:style="{
      background: `url(${artist.items[0].images[0].url})`,
      backgroundSize: 'cover',
      backgroundRepeat: 'no-repeat',
      backgroundPosition: 'center',
    }"
  >
    <div class="bandInfo_container">
      <div class="text_container">
        <h2>
          {{ artist.items[0].artists[0].name }}
        </h2>
        <figure />
        <p>{{ artist.items[0].artists[0].type }}</p>
      </div>

      <router-link
        :to="{
          name: 'BandDetail',
          params: { id: artist.items[0].artists[0].id },
        }"
        class="play_btn"
      >
        <Icon icon="bi:play-fill" color="#F9F9F9" width="32px" />
      </router-link>
    </div>
  </div>
</template>

<script>
import { Icon } from "@iconify/vue2";
export default {
  name: "BandCard",
  props: ["artist"],
  components: { Icon },
};
</script>

<style lang='scss' src='./band-card.scss'>
</style>