@import "/src/scss/globals.scss";
h1 {
  color: $white;
  font-size: 54px;
  span {
    color: $green;
  }
}
.favs_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.totalFavs_wrapper {
  margin-top: 42px;
  margin-left: 32px;
  p {
    color: $white;
    font-size: 22px;
  }
  h2 {
    font-size: 48px;
    color: $white;
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: $white;
    border: 1px solid $green;
    padding: 8px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s;

    &:hover {
      background-color: $green;
    }
    img {
      width: 22px;
      vertical-align: middle;
      margin-left: 4px;
    }
  }
}

.empty_favs {
  margin-top: 6em;
  h2 {
    color: $white;
    font-weight: 400;
    margin-bottom: 1em;
  }
  a {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid $green;
    border-radius: 4px;
    padding: 6px 10px;
    transition: 0.2s;
    &:hover {
      background-color: $green;
    }
  }
}
