<template>
  <div class="mainWrapper">
    <h1>Favourites<span>.</span></h1>

    <div v-if="favourites.length <= 0" class="empty_favs">
      <h2>
        <Icon
          icon="clarity:heart-broken-solid"
          color="#f8f8f8"
          height="36"
          :style="{verticalAlign:'middle', marginRight:'8px', marginBottom:'8px'}"
        />You did not add any artist to your favorites.
      </h2>
      <router-link
        :to="{
          name: 'Bands',
        }"
      >
        Go to artists
      </router-link>
    </div>

    <div v-bind:style="{ display: 'flex' }" v-else>
      <div class="favs_wrapper">
        <FavCard
          v-for="fav in favourites"
          :key="fav.artist.items[0].artists[0].id"
          :fav="fav"
          class="fav_card"
        ></FavCard>
      </div>
      <div class="totalFavs_wrapper">
        <p>Total favourites</p>
        <h2>{{ favourites.length }}</h2>
        <button @click="removeAllArtists()">Remove all</button>
      </div>
    </div>
  </div>
</template>

<script>
import FavCard from "../fav-card/FavCard.vue";
import { Icon } from "@iconify/vue2";

export default {
  name: "FavsContainer",
  components: { FavCard, Icon },
  computed: {
    favourites() {
      return this.$store.state.favourites;
    },
  },
  methods: {
    removeAllArtists() {
      this.$store.dispatch("removeAll");
    },
  },
};
</script>

<style lang="scss" src='./favourites.scss'>
</style>