<template>
  <div class="mainWrapper">
    <h1>{{ artist.items[0].artists[0].name }}<span>.</span></h1>

    <div class="buttons_container">
      <a
        class="band_button"
        :href="`https://open.spotify.com/artist/${artist.items[0].artists[0].id}`"
        target="_blank"
      >
        View profile <img src="@/assets/img/spotify.svg" alt=""
      /></a>

      <button
        class="band_button"
        v-if="isInFavs"
        @click.prevent="removeArtist(artist)"
      >
        Remove from favs <img src="@/assets/img/remove.svg" alt="" :style="{width:'22px'}"/>
      </button>

      <button class="band_button" @click="addToFavourites()" v-else>
        Add to favourites <img src="@/assets/img/heartSolid.svg" alt="" />
      </button>

      <router-link class="band_button" :to="{ name: 'Bands' }">
        <Icon
          icon="akar-icons:arrow-back-thick-fill"
          color="#f9f9f9"
          height="26"
          :style="{ marginRight: '6px', verticalAlign: 'middle' }"
        />Bands
      </router-link>
    </div>

    <h2>Albums</h2>

    <div class="albums_container">
      <AlbumCard v-for="album in artist.items" :key="album.id" :album="album" />
    </div>
  </div>
</template>

<script>
import AlbumCard from "./album-card/AlbumCard.vue";
import { Icon } from "@iconify/vue2";
export default {
  name: "BandDetail",
  components: { AlbumCard, Icon },
  data() {
    return {
      artistId: this.$route.params.id,
    };
  },
  props: ["id"],
  computed: {
    artist() {
      return this.$store.state.artist;
    },
    isInFavs() {
      return this.$store.state.favourites.some(
        (fav) =>
          fav.artist.items[0].artists[0].id ===
          this.artist.items[0].artists[0].id
      );
    },
  },
  methods: {
    addToFavourites() {
      this.$store.dispatch("addArtistToFavs", {
        artist: this.artist,
      });
    },
    removeArtist(artist) {
      this.$store.dispatch("removeArtistFromFavs", artist);
    },
  },
  mounted() {
    this.$store.dispatch("getArtist", this.artistId);
  },
};
</script>

<style lang="scss" src='./band-details.scss'></style>