@import "/src/scss/globals.scss";

h1 {
  color: $white;
  font-size: 54px;
  span {
    color: $green;
  }
}
h2 {
  color: $white;
  font-size: 32px;
}

.buttons_container {
  display: flex;
  margin: 16px 0;
  gap: 16px;
  .band_button {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $green;
    border-radius: 5px;
    padding: 10px 18px;
    transition: 0.2s;
    img {
      margin-left: 8px;
      width: 26px;
    }
    &:hover {
      background-color: $green;
    }
  }
}

.albums_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  border-top: 2px solid $green;
  padding-top: 8px;
  width: 83%;
}

.album_card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 18em;
  height: 33em;
  padding: 18px;
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    background-color: rgb(49, 49, 49);
  }

  h3 {
    height: 2.1em;
    color: $white;
    font-size: 19px;
    line-height: 1.3;
    margin: 16px 0;
  }
  figure {
    height: 2px;
    background-color: $green;
    margin-bottom: 8px;
  }
  h4 {
    color: $white;
    font-size: 18px;
    margin-bottom: 8px;
  }
  p {
    color: $white;
    margin: -2px 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid $green;
    border-radius: 5px;
    width: 10em;
    padding: 8px 0;
    margin-top: 24px;
    color: $white;
    font-size: 18px;
    transition: 0.2s;
    &:hover {
      background-color: $green;
    }
  }
}
