@import "/src/scss/globals.scss";

nav {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9f9f9;
  height: 4em;
  padding: 0 2.5em;
  z-index: 3;

  .logo_container {
    display: flex;
    align-items: center;
    p {
      margin-left: 4px;
      font-size: 18px;
      font-weight: 200;
    }
  }
  .about_btn {
    color: $white;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid $green;
    border-radius: 4px;
    padding: 6px 10px;
    margin-left: 6px;
    transition: 0.2s;
    &:hover {
      background-color: $green;
    }
  }
}
