<template>
  <nav>
    <SideNavbar />
    <figure></figure>
    <div class="logo_container">
      <Icon icon="bi:spotify" color="#f9f9f9" height="24px" />
      <p>forDevelopers</p>
    </div>

    <router-link :to="{ name: 'about' }" class="about_btn">About</router-link>
  </nav>
</template>

<script>
import { Icon } from "@iconify/vue2";
import SideNavbar from "../sidenav/SideNavbar.vue";

export default {
  name: "Navbar",
  components: {
    Icon,
    SideNavbar,
  },
};
</script>

<style lang="scss" src="./_navbar.scss"></style>