@import "/src/scss/globals.scss";
.sidenav_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  min-height: 100vh;
  background-color: $black;
  border-width: 0 1px 0 0;
  z-index: 3;
  transition: all 0.4s ease-in-out;
  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 74px;
  }
  &.show {
    width: 19.5em;
  }

  .navigation-links {
    height: 13em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5em 1.1em;
    a {
      display: flex;
      align-items: center;
      width: 100%;
      transition: 0.2s;

      &:hover {
        img {
          filter: none;
        }
        p {
          border-bottom: 2px solid $green;
          transform: translateX(2px);
        }
      }
      img {
        filter: grayscale(185%) brightness(220%);
        transition: 0.2s;
      }
      p {
        color: $white;
        font-size: 20px;
        font-weight: 300;
        margin-left: 16px;
        margin-right: 1.5em;
        padding-bottom: 3px;
        border-bottom: 2px solid $white;
        width: 100%;
        transition: 0.2s;
      }
    }
    .router-link-exact-active {
      img {
        filter: none;
      }
      p {
        border-bottom: 2px solid $green;
      }
    }
  }

  .backHome_btn {
    width: 100%;
    display: flex;
    padding: 1em;
    width: 86%;
    justify-content: center;
    align-self: center;
    justify-self: self-end !important;
    border-radius: 8px;
    transition: 0.2s;
    position: absolute;
    bottom: 2.5em;
    left: 6%;
    img {
      filter: grayscale(185%) brightness(220%);
    }
    &:hover {
      background-color: rgb(36, 36, 36);
      img {
        filter: none;
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}
