<template>
  <div class="sidenav_container" :class="{ show: showSidebar }">
    <div class="control" @click="showNav">
      <MenuButton />
    </div>

    <div class="navigation-links">
      <router-link :to="{ name: 'Bands' }"
        ><img src="@/assets/img/bands.svg" alt="" />
        <transition name="slide-fade"
          ><p v-show="showLink" key="1">Bands</p></transition
        >
      </router-link>
      <router-link :to="{ name: 'Favourites' }"
        ><img src="@/assets/img/heart.svg" alt="" />
        <transition name="slide-fade"
          ><p v-show="showLink" key="2">Favourites</p></transition
        ></router-link
      >
      <router-link :to="{ name: 'Playlists' }"
        ><img src="@/assets/img/playlists.svg" alt="" />
        <transition name="slide-fade"
          ><p v-show="showLink" key="3">Playlists</p></transition
        ></router-link
      >
    </div>

    <router-link to="/" class="backHome_btn">
      <img src="@/assets/img/home.svg" alt="" />
    </router-link>
  </div>
</template>

<script>
import MenuButton from "../menu-button/MenuButton.vue";
export default {
  name: "SideNavbar",
  components: { MenuButton },
  data: () => {
    return {
      showSidebar: false,
      showLink: false,
    };
  },
  methods: {
    showNav() {
      if (this.showSidebar) {
        this.showLink = false;
        setTimeout(() => {
          this.showSidebar = false;
        }, 200);
      } else {
        this.showSidebar = true;
        setTimeout(() => {
          this.showLink = true;
        }, 200);
      }
    },
  },
};
</script>

<style lang="scss" src="./_sidenav.scss"></style>
