<template>
  <div
    class="mainWrapper"
    :style="{
      background: 'url(' + require('@/assets/img/home-bg.svg') + ')',
      backgroundSize: 'cover',
      backgroundRepeat: 'no-repeat',
    }"
  >
    <h1>About<span>.</span></h1>
    <p>
      This project is part of a bootcamp with the main objective of learning and
      developing in <a href="https://vuejs.org/" target="_blank">Vue.js</a>, implementing the main
      functionalities of the library<br />
      and important tools such as <a href="https://vuex.vuejs.org/" target="_blank">Vuex</a> and
      <a href="https://router.vuejs.org/" target="_blank">Vue Router</a>.
    </p>
  </div>
</template>
<script>
export default {
  name: "About",
};
</script>

<style lang="scss" scoped>
h1 {
  color: $white;
  font-size: 54px;
  margin-top: 1em;
  margin-bottom: 16px;
  span {
    color: $green;
  }
}
p {
  color: $white;
  width: 28em;
  font-size: 18px;
  font-weight: 400;
  a {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid $white;
    transition: 0.2s;
    &:hover {
      color: $green;
      border-bottom: 1px solid $green;
    }
  }
}
</style>