@import "../../../scss/globals.scss";
.home_container {
  h1 {
    font-size: 74px;
    color: #f9f9f9;
    margin-top: 1.5em;
    span {
      color: $green;
    }
  }
  p {
    font-size: 21px;
    color: #f9f9f9;
    font-weight: 300;
    line-height: 1.3;
    width: 28em;
  }

  .start_container {
    display: flex;
    align-items: center;
    h2 {
      font-size: 18px;
      font-weight: 500;
      color: $white;
    }
    a {
      color: $white;
      font-size: 18px;
      font-weight: 500;
     text-decoration: underline;
      margin-left: 6px;
      transition: .2s;
      &:hover {
       color: $green;
      }
    }
  }
}
