<template>
  <div
    class="mainWrapper"
    :style="{
      background: 'url(' + require('@/assets/img/home-bg.svg') + ')',
      backgroundSize: 'cover',
      backgroundRepeat: 'no-repeat'
    }"
  >
    <div class="home_container">
      <h1>Santa Fe Bands<span>.</span></h1>
      <p>
        This website has the intention of publicizing different artists or bands
        from the city of Santa Fe, providing<br> as much information as possible
        about each one.
      </p>
      <div class="start_container" :style="{marginTop:'4em'}">
        <h2>You can start knowing the</h2>
        <router-link :to="{name: 'Bands'}">bands.</router-link>
      </div>
      <div class='start_container'>
        <h2>or maybe you already have</h2>
        <router-link :to="{name: 'Favourites'}">favorites.</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      album: [],
    };
  },
};
</script>

<style lang='scss' src='./_home.scss'></style>