@import "/src/scss/globals.scss";

//Menu Button
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-enter-active {
  transition: all 0.3s ease;
}
.slide-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-22em);
 /*  opacity: 0; */
}
.openClose_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    z-index: 2;
  }
}
.hamburger {
  height: 24px;
  width: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    .hamburger__item {
      transition: 0.2s;
      background: $green;
    }
  }

  &__item {
    height: 3px;
    width: 100%;
    border-radius: 50px;
    background: #f9f9f9;
    transition: transform 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
      opacity 300ms linear;

    &--first {
      .hamburger--is-open & {
        transform: translate(0, 8px) rotate(45deg);
        border-radius: 50px;
      }
    }

    &--middle {
      .hamburger--is-open & {
        opacity: 0;
      }
    }

    &--last {
      .hamburger--is-open & {
        transform: translate(0, -13px) rotate(-45deg);
        border-radius: 50px;
      }
    }
  }
}

// Menu List
.menuList_container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $black;
  width: 23em;
  height: 100%;
  z-index: 1;
  ul {
    list-style: none;
    text-align: left;
    position: relative;
    top: 64px;
    li {
      display: flex;
      transition: 0.2s;
      padding: 2em 3.5em 2em 2.5em;
      &:hover {
        background-color: rgb(48, 48, 48);
        a {
          img {
            filter: none;
          }
          p {
            border-bottom: 2px solid $green;
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $white;
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        transition: 0.2s;
        img {
          filter: brightness(100);
        }
        p {
          width: 100%;
          display: flex;
          border-bottom: 2px solid $white;
          margin-left: 16px;
          padding-bottom: 4px;
        }
      }
    }
  }
  .router-link-exact-active {
    transition: 0.2s;
    img {
      filter: none;
    }
    p {
      border-bottom: 2px solid $green;
    }
  }
}
