<template>
  <div class="openClose_btn">
    <button>
      <div
        class="hamburger"
        @click="hamburgerOpen = !hamburgerOpen"
        :class="hamburgerOpen ? 'hamburger--is-open' : ''"
      >
        <div class="hamburger__item hamburger__item--first"></div>
        <div class="hamburger__item hamburger__item--middle"></div>
        <div class="hamburger__item hamburger__item--last"></div>
      </div>
    </button>
  </div>
</template>

<script>
export default {
  name: "MenuButton",
  data() {
    return {
      show: false,
      hamburgerOpen: false,
    };
  },
};
</script>

<style lang="scss" src='./_menu.scss'></style>