<template>
  <div class="album_card">
    <img :src="`${album.images[1].url}`" alt="" />
    <h3>{{ album.name }}</h3>

    <figure></figure>
    <h4>{{ album.type.toUpperCase() }}</h4>
    <p>
      Tracks: <strong>{{ album.total_tracks }}</strong>
    </p>
    <p>
      Release date: <strong>{{ album.release_date }}</strong>
    </p>
    <a :href="`https://open.spotify.com/album/${album.id}`" target="_blank"
      >Listen on
      <Icon
        icon="bi:spotify"
        color="#f9f9f9"
        height="22px"
        :style="{ marginLeft: '8px' }"
    /></a>
  </div>
</template>

<script>
import { Icon } from "@iconify/vue2";
export default {
  name: "BandCard",
  props: ["album"],
  components: { Icon },
};
</script>

<style lang="scss" src="../band-details.scss">
</style>