<template>
  <div id="app">
    <Navbar />
    <transition name="view"><router-view :key="$route.path" /></transition>
  </div>
</template>

<script>
import Navbar from "./components/layout/navigation/navbar/Navbar.vue";

export default {
  name: "App",
  components: { Navbar },
  metaInfo: {
    meta: [{ vmid: "charset", charset: "utf-8" }],
    title: 'Santa Fe Bands | Discover new talents'
  },
  methods: {
    getGeneretedUrl: function () {
      let redirect_uri = "http://localhost:8080/?";
      let scope =
        "user-read-private user-read-email user-library-read user-follow-read";
      let url = "https://accounts.spotify.com/authorize";
      let client_id = "78afbdf61fe244a0bcbb1b69d946267e";
      url += "?response_type=token";
      url += "&client_id=" + encodeURIComponent(client_id);
      url += "&scope=" + encodeURIComponent(scope);
      url += "&redirect_uri=" + redirect_uri;
      return url;
    },
  },
  created() {
    const redirectUrl = this.getGeneretedUrl();
    let hash = window.location.hash.substr(1);
    let result = hash.split("&").reduce(function (res, item) {
      let parts = item.split("=");
      res[parts[0]] = parts[1];
      return res;
    }, {});
    if (result["/access_token"] || sessionStorage.getItem("accessToken")) {
      if (!sessionStorage.getItem("accessToken")) {
        sessionStorage.setItem(
          "accessToken",
          JSON.stringify(result["/access_token"])
        );
        sessionStorage.setItem("tokenType", result.token_type);
        window.location.href = "http://localhost:8080/?";
      }
    } else window.location.href = redirectUrl;
  },
};
</script>

<style lang="scss">
@import "./scss/reset.scss";
</style>