
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$display-font: 'Righteous', cursive;
$text-font: 'Poppins', sans-serif;

// Colors
$black: #121212;
$white: #F9F9F9;
$gray: #E7E7E7;
$green: #038C65;
$red: #D92525;

// Containers
.mainWrapper {
    padding: 1.5em 0em 5em 21em;
    margin-top: 64px;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: .2s;
    &::-webkit-scrollbar {
        width: 16px;
        transition: .2s;
    }
    &::-webkit-scrollbar-thumb {
        background: #2c2c2c;
        border-radius: 4px;
        transition: .2s;
    }

}