@import "./globals.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #181818;
  overflow: hidden;
}

h1 {
  font-family: $display-font;
  font-weight: 100;
}

h2,
h3,
h4,
h5,
p,
a,
button {
  font-family: $text-font;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.view-enter-active,
.view-leave-active {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}
.view-enter-active {
  transition-delay: 0.5s;
}
.view-enter {
  opacity: 0;
  transform: translateY(-100px);
}
.view-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.view-leave {
  opacity: 1;
  transform: translateY(0px);
}
.view-leave-to {
  opacity: 0;
  transform: translateY(100px);
}
